{% assign color = post.title.size | modulo: 6 %}
<article class="{% if post.color %}{{post.color}}{% else %}{{ site.colors[color] }}{% endif %}">
  <header>
    <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%-d %b %Y" }}</time>
    <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
  </header>
  {% assign content2 = content | strip_newlines %}
  {% if content2 == "" %}
    {{ post.content }}
  {% else %}
    {{ content }}
  {% endif %}
  {% if include.promo %}
    {% include promo.html %}
  {% endif %}
</article>
