<footer class="promo">
  <div class="photo"></div>
  <div class="text">
    <p>Hi, I'm Chris Swasey. I'm a full-stack (Ruby+JS+iOS) developer and designer,
based in the Washington, D.C. area. If you're looking for a multi-talented
developer who is passionate about both product and code design, get in touch!</p>
    <ul class="links">
      <li><a href="mailto:christopher.swasey@icloud.com">christopher.swasey@icloud.com</a></li>
      <li><a href="http://github.com/endash">github</a></li>
      <li><a href="http://stackoverflow.com/users/59272/christopher-swasey">stack overflow</a></li>
    </ul>
  </div>
</footer>