

section {
  font-size: 1.45em;
  width: $content-width;
  margin: 0em auto 0em auto;
}

section#projects {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-bottom: 4em;

  .project {
    background: white;
    padding: 2em;

    h3 {
      font-weight: 800;
      font-size: 1.5em;
      color: #333;
    }
  }
}

article {
  background: white;
  width: $content-width;
  margin: 0em auto 8em auto;
  font-size: 1.45em;
  line-height: 1.45;

  @include media-query($on-palm) {
    font-size: 1.4em;
    width: auto;
    margin: auto;
  }

  box-shadow: 0px 0.5px 0px 0px rgba(0, 0, 0, 0.08);

  hr {
    border: 0;
    height: 10px;
    margin: 2.66em 0 2em 0;

    box-shadow: 0px -1px 0px 0px rgba(0, 0, 0, 0.06);

    @media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) {
      box-shadow: 0px -0.5px 0px 0px rgba(0, 0, 0, 0.1);
    }
  }

  p {
    margin: 1.33em 0;
  }

  > p:last-of-type {
    padding-bottom: 4em;
    margin-bottom: 0;
  }

  > p:last-of-type + ul {
    margin-top: -2em;
  }

  p, li {
    color: $text-color;
    font-size: 1.1em;
  }

  img {
    display: block;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;

    margin-top: 2.66em;
    margin-bottom: 2.66em;
    border: 20px solid #e9e9e9;

    &.fullbleed {
      width: 100%;
    }
  }

  h2, h3, p, ul, blockquote, header > * {
    padding-left: $horizontal-padding;
    padding-right: $horizontal-padding;
  }


  h1 {
    margin: 0;
    margin-left: -2px;
    font-size: 1.5em;
    font-weight: normal;

    a {
      color: inherit;
      text-decoration: none;

      &:hover, &:active, &:visited {
        color: inherit;
        text-decoration: none;
      }
    }
  }

  h2 {
    margin: 2em 0;
    font-weight: 500;
    font-size: 1.5em;

    box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.06), 0px -1px 0px 0px rgba(0, 0, 0, 0.06);
    padding-top: 1.1em;
    padding-bottom: 1.1em;
    color: rgba(0, 0, 0, 0.92);

    @media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) {
      box-shadow: 0px 0.5px 0px 0px rgba(0, 0, 0, 0.1), 0px -0.5px 0px 0px rgba(0, 0, 0, 0.1);
    }
  }

  figure + h2, div.highlight + h2 {
    box-shadow: 0px 0.5px 0px 0px rgba(0, 0, 0, 0.1);
  }

  header + h2 {
    padding-top: 0;
    box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.06);

    @media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) {
      box-shadow: 0px 0.5px 0px 0px rgba(0, 0, 0, 0.1);
    }
  }

  h3 {
    font-size: 1.25em;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.92);
  }


  p + h3, ul + h3 {
    margin-top: 3em;
  }

  header {
    position: relative;
    padding-top: 3em;
    padding-bottom: 1em;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 2.5rem;
    color: white;
    background: $blue;

    time {
      float: right;
      font-size: 1.15em;
      font-weight: 100;
      padding-top: 0.2em;
      color: rgba(255, 255, 255, 0.75);
    }
  }

  &:first-of-type header:after {
    content: 'LATEST POST';
    position: absolute;
    color: rgba(255, 255, 255, 0.8);
    left: $horizontal-padding;
    font-size: 0.8em;
    letter-spacing: 2px;
    top: 1.5em;
  }

  &.blue header { background: $blue; }
  &.cyan header { background: $cyan; }
  &.yellow header { background: $yellow; }
  &.orange header { background: $orange; }
  &.redorange header { background: $redorange; }
  &.red header { background: $red; }

  > footer {
    @extend %clearfix;
    padding-top: 1.2em;
    padding-bottom: 3em;

    box-shadow: 0px -1px 0px 0px rgba(0, 0, 0, 0.06);

    @media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) {
      box-shadow: 0px -0.5px 0px 0px rgba(0, 0, 0, 0.1);
    }

    .photo {
      position: relative;
      float: left;
      width: 150px;
      min-height: 102px;
      background-image: url('/assets/headshot.png');
      background-repeat: no-repeat;
      background-position: 45px 22px;
      background-size: 80px 80px;
    }

    .text {
      float: left;
      width: calc(100% - 150px);
      font-size: 0.95em;

      p {
        padding-right: $horizontal-padding;
      }

      ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
          display: inline-block;
          font-weight: 600;
          margin-right: 0.5em;

          a {
            &, &:active, &:hover, &:visited {
              color: inherit;
            }
          }
        }
      }
    }

    @include media-query($on-palm) {
      .photo {
        float: none;
        background-position: 22px 22px;
      }

      .text {
        width: auto;
        padding-left: $horizontal-padding;
        padding-right: $horizontal-padding;

      }
    }
  }

  ol {
    padding-left: 10%;
    padding-right: 10%;

    li {
      margin: 0.5em 0em;
    }
  }



  blockquote {
    margin: 1.9em $horizontal-padding;
    padding-left: 3.75%;
    border-left: 4px solid $grey-color-light;
    color: lighten($text-color, 15%);
    font-size: 1.1em;

    p {
      font-size: inherit;
      color: inherit;
      font-weight: inherit;
    }
  }

  ul {
    li {
      margin-bottom: 1em;
    }

    &:last-child {
      padding-bottom: 4em;
    }
  }

  ul.tags {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      display: inline-block;
      font-size: 1.25em;
      margin: 0 0.3em;
      font-weight: 200;
      color: #808080;

      &:first-child {
        margin-left: 0;
        font-weight: 400;
        color: #666666;
      }
    }
  }
}