html, body {
  margin: 0;
  font-family: "proxima-nova";
  background: #faf2e4; }

section#cover {
  height: 85vh;
  overflow: hidden;
  padding: 0;
  background: url("/assets/cliff1.jpg") no-repeat top center;
  background: url("/assets/cliff1.jpg") no-repeat center -80px;
  background-size: cover; }
  section#cover header {
    height: 65px;
    background: #58bde6; }
  section#cover ul.toc {
    position: absolute;
    bottom: 4%;
    padding: 0;
    list-style: none;
    width: 220px; }
    section#cover ul.toc li {
      background: rgba(0, 0, 0, 0.2);
      color: rgba(255, 255, 255, 0.9);
      font-size: 18px;
      font-weight: 300;
      padding: 12px 25px;
      margin-top: 5px; }

section {
  position: relative;
  padding: 70px 0px;
  min-height: 200px; }
  section div.content {
    margin-left: 250px;
    margin-right: 250px; }
    section div.content p {
      font-size: 15px;
      font-weight: 300;
      line-height: 1.5;
      padding-right: 30px;
      color: rgba(0, 0, 0, 0.8); }

ul.toc {
  position: absolute;
  padding: 0;
  margin: 0;
  list-style: none;
  width: 270px;
  margin-top: -5px; }
  ul.toc li {
    font-size: 17px;
    font-weight: 300;
    padding: 10px 25px;
    color: #666; }
    ul.toc li.active {
      font-weight: 600;
      color: #606060; }

div.container {
  width: 1020px;
  margin: 0px auto; }

div#logo {
  float: left;
  background-image: url("/assets/logo1.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 235px 50px;
  width: 235px;
  height: 50px;
  margin-top: 8px; }

ul#menu {
  float: right;
  list-style: none;
  padding: 0;
  font-size: 0; }
  ul#menu li {
    display: inline-block;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.8);
    text-transform: uppercase;
    margin-left: 0px;
    font-weight: 300;
    padding: 22px; }
